* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter, sans-serif;
}

body {
  background: #0f172a;
  color: #e5e7eb;
  padding: 30px;
}

header {
  text-align: center;
  margin-bottom: 50px;
}

.posts {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 20px;
}

.card {
  background: #020617;
  border: 1px solid #1e293b;
  padding: 20px;
  border-radius: 12px;
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-5px);
  border-color: #38bdf8;
}

.card a {
  display: inline-block;
  margin-top: 10px;
  color: #38bdf8;
}

.tag {
  display: inline-block;
  background: #38bdf8;
  color: #020617;
  padding: 4px 10px;
  border-radius: 20px;
  font-size: 12px;
  margin: 8px 0;
}

.back {
  color: #38bdf8;
  display: inline-block;
  margin-bottom: 20px;
}

/* POST SAYFASI */
.post-page {
  max-width: 800px;
  margin: 60px auto;
  padding: 0 20px;
}

.post-card {
  background: #020617;
  border: 1px solid #1e293b;
  border-radius: 16px;
  padding: 40px;
}

.post-card h1 {
  font-size: 2.2rem;
  margin-bottom: 15px;
}

.post-content {
  margin-top: 25px;
  line-height: 1.9;
  font-size: 1.05rem;
  color: #d1d5db;
}

.blog-header .title-wrap {
  display: inline-flex;
  align-items: center;
  gap: 10px;
}

.admin-btn {
  cursor: pointer;
  font-size: 1.2rem;
  opacity: 0.25;
  transition: 0.3s;
  user-select: none;
}

.admin-btn:hover {
  opacity: 1;
  transform: scale(1.2);
}
