*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:'Inter',sans-serif;
}

body{
  background:#0f172a;
  color:#e5e7eb;
}

/* HEADER */
header{
  min-height:60vh;
  display:flex;
  align-items:center;
  justify-content:center;
  text-align:center;
}

/* BUTTON */
.btn{
  padding:12px 28px;
  background:#38bdf8;
  border:none;
  border-radius:12px;
  font-weight:600;
  cursor:pointer;
}

/* SECTION */
section{
  max-width:1200px;
  margin:auto;
  padding:80px 30px;
}

h2{
  text-align:center;
  margin-bottom:30px;
}

/* GRID */
.grid{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(260px,1fr));
  gap:25px;
}

/* CARD */
.card{
  background:#020617;
  border-radius:18px;
  border:1px solid #1e293b;
  overflow:hidden;
  transition:.3s;
  cursor:pointer;
}

.card:hover{
  transform:translateY(-6px);
  border-color:#38bdf8;
}

.card img{
  width:100%;
  display:block;
}

/* VIDEO INFO */
.video-info{
  padding:12px;
  font-size:.85rem;
  color:#94a3b8;
  display:flex;
  justify-content:space-between;
}

/* PLAYER */
.player-box{
  margin-top:30px;
  background:#020617;
  border-radius:18px;
  border:1px solid #1e293b;
  overflow:hidden;
}

.player-box video{
  width:100%;
}

.video-meta{
  display:flex;
  gap:20px;
  margin-top:15px;
  color:#94a3b8;
}
